.title {
  font-family: "Viga", sans-serif;
  text-align: left;
  background-color: lightblue;
}
.about {
  font-family: "Viga";
  color: white;
  text-align: left;
  background-color: #104E8B;
  padding-top: 10px;
  padding-bottom: 70px;
}
