ul {
  font-family: "Enriqueta", serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #05A;
  background-color: #6E7376;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #02767F;
}

.active {
  background-color: #FFFFFF;
  color: #02767F;
}
h1 {
  position: absolute;
  left: 12px;
  top: -7.5px;
  font-family: "Satisfy", cursive;
  color: #FFFFFF;
}
h1:hover:not(.active) {
  color: #02767F;
}
.title {
  font-family: "Enriqueta", serif;
  text-align: center;
  background-color: #FFFFFF;
  color: #02767F;
  height: 100px;
  padding-top: 5px;
}
.about {
  font-family: "Enriqueta", serif;
  color: white;
  text-align: left;
  background-color: #6E7376;
  height: 500px;
  padding-bottom: 10%;
}
.aligncenter {
    text-align: center;
}
.happyPlaces {
  font-family: "Enriqueta", serif;
  color: #6E7376;
}
